<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174986398130-rmb2bfo6gjniam6ehtotrp32bbpfd7j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174986398130-rmb2bfo6gjniam6ehtotrp32bbpfd7j1</string>
	<key>API_KEY</key>
	<string>AIzaSyAA-FXZpXyZKAO8ifWmia3gJ2ulRqpwIIU</string>
	<key>GCM_SENDER_ID</key>
	<string>174986398130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectComics</string>
	<key>PROJECT_ID</key>
	<string>project-comics</string>
	<key>STORAGE_BUCKET</key>
	<string>project-comics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174986398130:ios:94403add33d6c4337cfcab</string>
</dict>
</plist>